@charset "UTF-8";
/*透明度轮播图,设置全部图片绝对定位*/
#lb_active {
  background: #00c8ff;
}

.imageList img {
  position: absolute;
  width: 100%;
  /*图片太大了，不这样设置会出现滚动条*/
  height: 350px;
  min-width: 1100px;
}

.imageList {
  height: 350px;
  position: relative;
}

.imageList .round {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -50px;
}

.imageList .round span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  z-index: 23;
  margin-left: 10px;
}
